@import url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand|Averia+Sans+Libre|Sniglet|NTR&subset=latin);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);/*黑體*/
/*profile pic*/
.circular {
	width: 150px;
	height: 150px;
	border-radius: 150px;
  border: 2px solid rgba(50,50,50,.3);
  /*-webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
  -webkit-filter: contrast(200%) brightness(150%) grayscale(70%);
	}

/*body font*/

section#posts p, ul, ol, li{
	font-size: 16px;
  font-family: 'Freight-Sans-Pro','cwTeXHei', sans-serif;
}
/*pic*/
img{
  border-radius: 15px;
}

a{
  font-family: 'Sniglet' ,'cwtexyen', arial, sans-serif;
}
a:hover {
    color: #999;
    outline: 0;
}


/*links*/
section#sidebar li a:hover {
    color: #999;
    font-size: 15px;
    line-height: 19px;
    border: 2px solid rgba(50,50,50,.3);
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    padding: 7px 15px;
    background-color: rgba(50,50,50,.8);
    color: white;
}


/*button*/
section#posts a.button_accent {
    margin: 40px 50px;
    padding: 10px 20px;
    display: inline-block;
    border: 2px solid #dddddd;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-size: 10px;
    font-weight: 400;
}

section#posts a.button_accent:hover {
    color: #787878;
    /*background-color: #0e94ec;*/
    border: 2px solid #aaaaaa;
    outline: 0;
}

section#posts a.button_accent:link {
    color: #787878;
}


/*pre (code)*/
section#posts pre {
    font-family:'Inconsolata', 'Noto Sans TC',monospace, sans-serif;
    margin: 0;
    padding: 0 0 0 20px;
    display: inline-block;
    border-left: 10px solid rgba(135,178,234,1);
    border-radius: 5px;
    width: 550px;
    color: #808080;
    background-color: rgba(204,204,204,.1);
    overflow: auto;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0.6);
}

/*code (``)*/
section#posts code {
    margin: 0;
    padding: 2px 4px;
    color: rgba(135,178,234,1);
    background-color: rgba(204,204,204,.1);
    border:1px solid rgba(135,178,234,1);
    overflow: auto;
    border-radius: 3px;
    font-family: 'Inconsolata', 'Noto Sans TC',monospace, sans-serif;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.6);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.6);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0.6);
}

section#posts blockquote {
    margin: 0;
    padding: 0 0 0 20px;
    display: inline-block;
    border-left: 5px solid rgba(255,207,87,1);
}

nav#header-nav{
	display:flex;
	align-items: center;
  justify-content: center;
}

a#header-nav-item{
	font-size: 150%;
	color: #78C2C4;
	border: #fff;
	margin: 10px;
}

a#header-nav-item:hover{
	font-size: 150%;
	color: #376B6D;
	border: #fff;
}

h3#date{
	font-size: 100%;
	color: #4d4d4d !important;
	border: #fff;
	margin: 10px;
	display:flex;
	align-items: center;
  justify-content: center;
}
